body
  .vacancy-card
    border-top: 1px solid #f1c846
    border-left: 1px solid #f1c846
    border-right: 1px solid #f1c846
    height: 250px
    padding: 20px
    position: relative
    font-family: Arial,sans-serif

    &:last-child
      border-bottom: 1px solid #f1c846

    .vacancy-name
      font-size: 18px
      line-height: 1.444
      color: #09f

    .vacancy-area
      color: #999
      font-size: 14px
      line-height: 1.571

    .vacancy-employer-name
      color: #999
      font-size: 14px
      line-height: 1.571

    .vacancy-requirement
      margin-top: 10px

    .vacancy-responsibility
      margin-top: 10px

    .vacancy-published-at
      position: absolute
      bottom: 10px
      right: 10px
